-- 데이터베이스 생성
CREATE DATABASE IF NOT EXISTS ${MYSQL_DATABASE};

-- 데이터베이스 사용자 생성
CREATE USER IF NOT EXISTS '${MYSQL_USER}'@'%' IDENTIFIED BY '${MYSQL_PASSWORD}';

-- 권한 부여
GRANT ALL PRIVILEGES ON ${MYSQL_DATABASE}.* TO '${MYSQL_USER}'@'%';
FLUSH PRIVILEGES;

-- 관리자 사용자 생성 (예: wordpress_admin)
CREATE USER IF NOT EXISTS 'gitkim_master'@'%' IDENTIFIED BY '${MYSQL_ROOT_PASSWORD}';
GRANT ALL PRIVILEGES ON ${MYSQL_DATABASE}.* TO 'gitkim_master'@'%';
FLUSH PRIVILEGES;
